@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
  color: #000000;
}

body{
	background-image: url(img/warrior.png);
	background-color: rgb(39, 37, 37);
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: rgba(235,248,44,255)
	;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: #434343;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: #c09878;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
    max-height: 350px;
	background: gray;
    color: #404040;
}
.logo img{
    height: 100px;
    margin-right: 10px;
}
table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #EBF82C;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #000000;
}
table.darkTable tr:nth-child(even) {
  background: #EBF82C;
}
table.darkTable td:nth-child(even) {
  background: #EBF82C;
}
table.darkTable thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #EBF82C;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot td {
  font-size: 12px;
}
  .boton_personalizado{
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    border: 2px solid #EBF82C;
    margin-left: 93.5%;
    
}